body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Table1
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   background-color: #CCCCCC;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #666666;
   border-right-color: #666666;
   border-bottom-color: #666666;
   border-left-color: #666666;
   text-align: left;
   vertical-align: middle;
   width: 132px;
   height: 66px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #666666;
   border-right-color: #666666;
   border-bottom-color: #666666;
   border-left-color: #666666;
   text-align: left;
   vertical-align: middle;
   width: 989px;
   height: 66px;
   color: #808080;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table1 tr:nth-child(odd)
{
   background-color: #FFFFFF;
}
#Table2
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table2 td
{
   padding: 0;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 148px;
   height: 46px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 200px;
   height: 46px;
   color: #808080;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 130px;
   height: 46px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 246px;
   height: 46px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 146px;
   height: 46px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 253px;
   height: 46px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 246px;
   height: 46px;
   color: #808080;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 253px;
   height: 46px;
   color: #808080;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 tr:nth-child(odd)
{
   background-color: #F2F2F2;
}
#Table3
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table3 td
{
   padding: 0;
}
#Table3 td div
{
   white-space: nowrap;
}
#Table3 p, #Table3 ul
{
   margin: 0;
   padding: 0;
}
#Table3 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 200px;
   height: 80px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: middle;
   width: 914px;
   height: 80px;
   color: #808080;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 tr:nth-child(odd)
{
   background-color: #F2F2F2;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#Button1:focus
{
   outline: 0;
}
